#about {
	width: 100%;
	padding: 150px 0;
	background: #d9d9d3;

	.inner {
		width: 1180px;
		margin: 0 auto;
		display: flex;

		.left {
			// width: 65%;
			width: auto;
			display: flex;
			margin-right: 3%;

			h1 {
				font: 26px/1.3 "Lora";
				width: 38%;
			}
			span {
				font: 24px/1 "Lora";
				color: orange;
				border-bottom: 1px solid orange;
				margin-right: 5px;
			}
			.wrap {
				display: flex;

				article {
					width: 220px;
					height: 350px;
					margin-right: 10px;

					.pic {
						width: 200px;
						height: 280px;
						margin-bottom: 15px;

						img {
							width: 100%;
							height: 100%;
						}
					}
					p {
						font: bold 14px/1.3 "Hebo";
						padding-right: 6px;
						margin-bottom: 5px;
					}
				}
			}
		}
		.right {
			width: 35%;

			h2 {
				font: 22px/1.3 "Lora";
				margin-bottom: 50px;
			}
			span {
				font: 20px/1 "Lora";
				float: left;
			}
			ul {
				float: right;
				width: 55%;
				li {
					margin-bottom: 10px;

					&::after {
						content: "";
						width: 100%;
						height: 1px;
						background: #111;
						display: block;
						margin-top: 8px;
					}
					a {
						font: 18px/1 "Lora";
						color: #111;
					}
				}
			}
		}
	}
}
