#blog {
	width: 100%;
	padding: 130px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		h1 {
			font: bold 24px/1 "Overpass", sans-serif;
			color: #050505;
			margin-bottom: 80px;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-color: #444;
				margin-top: 10px;
			}
		}

		a {
			display: block;
			width: 140px;
			height: 40px;
			font: 15px/40px "Overpass", sans-serif;
			color: #fff;
			background-color: black;
			border: 2px solid black;
			text-align: center;
			margin: 0 auto;
			transition: 0.5s;

			&:hover {
				color: black;
				background-color: #fff;
				border: 3px solid black;
			}
		}

		.wrap {
			width: 100%;
			margin-bottom: 20px;
			article {
				float: left;
				position: relative;
				object-fit: cover;
				margin-bottom: 60px;
				width: 380px;
				margin-right: 20px;
				transition: 0.4s;
				// opacity: 0;
				// transform: translateY(100px);
				&:nth-of-type(1) {
					transition-delay: 0s;
				}
				&:nth-of-type(2) {
					transition-delay: 0.2s;
				}

				&:nth-of-type(3) {
					margin-right: 0;
					transition-delay: 0.4s;
				}

				.pic {
					width: 100%;
					height: 450px;
					margin-bottom: 30px;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						margin-bottom: 50px;
						transition: 0.5s;

						&:hover {
							transform: scale(1.05);
						}
					}
				}
				h2 {
					font: 600 15px/1 "Open Sans";
					color: #000000;
					margin-bottom: 20px;
					letter-spacing: 2px;
				}

				h3 {
					font: 14px/1 "Open Sans", sans-serif;
					color: #828282;
					margin-bottom: 30px;
				}

				> p {
					font: 16px/1.2 "Overpass", sans-serif;
					color: #626262;
					margin-right: 20px;

					&::after {
						content: "";
						width: 35px;
						height: 2px;
						background-color: #111;
						display: block;
						margin-top: 30px;
					}
				}
			}
		}
	}
	// &.on .inner .wrap article {
	// 	opacity: 1;
	// 	transform: translateY(0px);
	// }
}
