#footer {
	width: 100%;
	padding: 60px 0px 30px 0px;
	border-top: 1px solid #e1e1e1;

	.inner {
		width: 1180px;
		margin: 0 auto;
		text-align: center;

		h1 {
			font: 20px/1 "Overpass", sans-serif;
			color: #222222;
			margin-bottom: 20px;
		}

		.wrap {
			width: 100%;

			.top {
				display: flex;
				flex-wrap: wrap;
				border-bottom: 1px solid #e1e1e1;
				margin-bottom: 20px;
				padding: 40px 15px;

				h2 {
					font: bold 14px/1 "Overpass", sans-serif;
					color: #999999;
					margin-bottom: 20px;
				}

				p {
					font: 12px/1.5 "Overpass", sans-serif;
					color: #999999;
					letter-spacing: 1px;
				}

				.first {
					width: 33.333%;
					border-right: 1px solid #e1e1e1;

					address {
						font: 12px/1.5 "Noto Sans KR";
						color: #999999;
						margin-right: 10px;
					}
				}

				.middle {
					width: 33.333%;
					border-right: 1px solid #e1e1e1;
				}

				.last {
					width: 33.333%;

					ul {
						&::after {
							content: "";
							display: block;
							clear: both;
						}
						li {
							display: inline-block;
							font: 12px/1 "Overpass";
							color: #999999;
							margin-right: 30px;

							a {
								display: block;
								font-size: 20px;
								color: #999999;
								padding: 10px 0;
							}
						}
					}
				}
			}

			.bottom {
				text-align: center;
				font: 13px/1 "Overpass";
				color: #646464;
			}
		}
	}
}
