.content {
	figure {
		width: 100%;
		height: 300px;
		background: gray;
	}
	> .inner {
		padding: 100px 10vw;
		min-height: 600px;

		h1 {
			width: 100%;
			font: 50px/1 "arial";
			color: #333;
			margin-bottom: 30px;

			&::before {
				content: "";
				display: block;
				width: 100px;
				height: 1px;
				background: #333;
				margin-bottom: 30px;
			}
		}
	}
}

.content .on {
	figure {
		opacity: 1;
	}
	> .inner {
		opacity: 1;
		transform: translateY(0px);
	}
}
